h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    text-align: center;

}

#window, #window-2 {

    display: flex;
    height: 380px;
    width: 1000px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}



#window-1 {

    flex-direction: column;
    height: 1200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;

}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-1 img {
    max-width: 100%;
}

.box-2 img {
    max-width: 100%;
}

#window img {
    max-width: 100%;
}

#window-2 img {
    max-width: 100%;
}