/* EQ Meter Container */
.eq-meter {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 80px;
    gap: 5px;
    right: 15px;
    bottom:10px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
}

input:focus {
    outline: none;
    border: none;
}


.bar {
    max-width: 2px;
    background-color: white;
    animation: bounce 4s infinite ease-in-out alternate;
}


.bar:nth-child(1) { animation-delay: .4s; }
.bar:nth-child(2) { animation-delay: .32s; }
.bar:nth-child(3) { animation-delay: .23s; }
.bar:nth-child(4) { animation-delay: 0.12s; }
.bar:nth-child(5) { animation-delay: .13s; }


@keyframes bounce {
    0%   { height: 0px; }
    50%  { height: 60px; }
    70%  { height: 40px; }
    50%  { height: 20px; }
    100% { height: 0px; }
}

/* RULES */

article label {

    position: relative;
    right: 285px;
    top: 14px;
    max-height: 40px;
    font-family: arial;
    opacity: 0%;
    font-size: 20px;
    font-family: arial;
    
}

article input {
    position: relative;
    right: 80px;
    top: 12px;
    width: 100px;
    opacity: 100%;
    /* background-color: palegoldenrod; */
    border: none;
    font-family: arial;
    background-color: transparent !important;
    font-size: 20px;
    
}

/* input[type=text]:focus {
    background-color: white;
} */

.header {
    width: 100%;
    background-color: #ec9720;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(images/pattern02.svg);
    background-repeat: repeat;
    background-position: center; 
    z-index: 11;
    position: fixed;

    
    

}

.footer {
    width: 100%;
    background-color: #ec9720;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(images/pattern02.svg);
    background-repeat: repeat;
    background-position: center; 
    position: relative;
    margin-top: -4px;

    
    

}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: yellow;
}

h1 {

    
    font-size: 20px;
}

.header p {
    color: yellow;
    font-family: "Righteous", serif;
    font-weight: 600;
    padding-right: 50px;
    display: block;
    font-size: 3em;
    margin-top: 0px;
    

    
}

div img {
    height: 80px;
    width: 80px;
    padding: 20px;
    position: relative;
  
    
}

body { 
    overflow-x:hidden;
    text-align: center; 
}

.main-card{

    height:700px;
    background-color: white;
    max-width:380px;
    width:380px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-top: 200px;
    z-index: 10;
    position: relative;


}

.card-1{

    width: 340px;
    height: 50px;
   /*  background-color: aquamarine; */
   background-color: palegoldenrod;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
    
}


.card-2{

    width: 340px;
    height: 50px;
/*     background-color: yellow; */
background-color: palegreen;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-3{

    width: 340px;
    height: 50px;
   /*  background-color: red; */
   background-color: palevioletred;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-4{

    width: 340px;
    height: 50px;
    /* background-color: orange; */
    background-color: paleturquoise;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-5{

    width: 340px;
    height: 50px;
   /*  background-color: lightpink; */
   background-color: lightcoral;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-6{

    width: 340px;
    height: 50px;
    /* background-color: violet; */
    background-color: lightseagreen;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-7{

    width: 340px;
    height: 50px;
    /* background-color: white; */
    background-color: lightskyblue;
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-8{

    width: 340px;
    height: 50px;
    background-color: palegoldenrod;
/*     background-color: greenyellow; */
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-9{

    width: 300px;
    height: 50px;
    background-color: palegreen;
/*     background-color: greenyellow; */
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.card-10{

    width: 340px;
    height: 50px;
    background-color: palevioletred;
/*     background-color: greenyellow; */
    border-radius:0px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    float: left;
    border-bottom: 0.2rem solid;
 
}

.submit{

    width: 340px;
    height: 50px;
    background-color: black;
    border-radius:0px;
    margin-left: 20px;
    position: relative;
    float: left;
 
}






.title {

    max-height: 40px;
    position: relative;
    float: left;
    padding-left: 20px;
    font-family: arial;
}


.submit-text {

    max-height: 40px;
    position: relative;
    float: right;
    padding-right: 20px;
    font-family: arial;
    color: white;

}

.submit:hover .submit-text {
    color: black;
    transition: all 0.2s;
}

.submit:hover {

    background-color: white;
    transition: all .2s;
    cursor: pointer;
}

#card-hover:hover {

    background-color:white;
    transition: all .2s;
    height: 60px;
    
} 

#card-hover-2:hover {

    background-color:white;
    transition: all .2s;
   
    
} 

#overlay {

position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;

}




.window {

    width: 550px;
    height: 650px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    z-index: 0;
    position: relative;
    text-align: center;
    cursor: default;
}

.bar {
    width: 500px;
    height: 40px;
    margin-right:auto;
    margin-left:auto;
}

.bar p {

    font-family: arial;
    font-size: 20px;
}

#space1{
    height: 100px;
}

.close {
    position: relative;
    height: 50px;
    height: 50px;
    float: left;
    padding:25px;


}


.close img {

    height: 50px;
    height: 50px;
   
}

.close:hover {

    cursor: pointer;
}

.window h1 {
    color: black;
    font-family: "Righteous", serif;
    font-weight: 600;
    display: block;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 40px;
    

    
}

#bar6 {

    text-wrap: wrap;
   overflow-wrap: normal;
}

#bar6 p{
    text-wrap: nowrap;
}

.card-9 input{

 right: 125px;

}

.submit-btn {
    background: none;
    width: 340px;
    border: none;
    cursor: pointer;
}

.m-bar p {
    font-family: arial;
}



#overlay-2 {

    position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: -200px;
      left: 0px;
     
      bottom: 0;
      background-color: rgba(0,0,0,0);
      z-index: 15;
      cursor: default;
      text-align: center;
    
}

.footer section {

    padding-top: 50px;
}






@media screen and (min-width: 480px) {

    .eq-meter {
        margin-right: 0px;
        margin-left: 0px;
    }

    body {
        background-color: rgb(250, 247, 241);  
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }

    img {

    }

    .header p {

        font-size: 5em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card-1{
        width: 760px;
    }
    .card-2{
        width: 760px;
    }
    .card-3{
        width: 760px;
    }
    .card-4{
        width: 760px;
    }
    .card-5{
        width: 760px;
    }
    .card-6{
        width: 760px;
    }
    .card-7{
        width: 760px;
    }
    .card-8{
        width: 760px;
    }
    .card-9{
        width: 760px;
    }
    .card-10{
        width: 760px;
    }

    .main-card{
        width: 800px;
        max-width:800px;
    }

    article input{

     right: 160px;
     top: 13px;
     width: 400px;

    }

    .submit-btn {
       
        width: 760px;
       
    }

    .submit {

        width: 760px;
    }

    .footer section {

        padding-top: 0px;
    }

    
}
