.frame-J3 {
    background-color: orange;
    margin-top: 100px;
    max-width: 500px;
    max-height: 750px;
    gap: 20px
}


.frame {
    background-color: orange;
    margin-top: 100px;
    max-width: 500px;
    max-height: 750px;
    gap: 20px
}

.frame-2 {
    background-color: orange;
    margin-top: 100px;
    max-width: 500px;
    max-height: 750px;

}

.container {
    display: flex;
    width:100%;
    justify-content: center;
    height: 3000px;
    flex-wrap: wrap;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.frame h1, .frame-2 h1, .frame-J3 h1{
    font-family: "Roboto Condensed";
    position:relative;
    top: -60px;
}

body {
    align-items: center;
}

body p {
    font-family: "Roboto Condensed";
    padding: 20px;
    position: relative;
    top: -30px;
}

footer p{
    margin-top: 40px;
    text-align: center;
}